@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply hidden h-7 cursor-pointer transition-all duration-150 ease-out hover:scale-125 md:inline-flex;
  }

  .postBtn {
    @apply h-7 cursor-pointer transition-all duration-150 ease-out hover:scale-125;
  }
}

@layer utilities {
  /* input[type="search"]에서 focus 됐을 때 X표 삭제 */
  input::-ms-clear,
  input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    display: none;
  }
}
